.skills_container {
  max-width: 65.5%;
  margin: 20px auto;
  padding: 20px;
  background: #797565;
  border-radius: 8px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  border: 1px solid #efefef;
  scrollbar-width: thin;
  scrollbar-color: #797565 #efefef;
}

/* Title Styling */
.title h2 {
  text-align: center;
  color: #efefef;
  font-size: 50px;
  margin-top: 3%;
}

/* Skills Text */
.skills_container p {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 25px;
  color: #efefef;
  font-weight: bold;
  height: 5000%;
}

.rateCircle:hover {
  transform: scale(1.3);
}