.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #060606;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;

  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-image: url('https://i.pinimg.com/736x/30/8f/2f/308f2fd627c36e007527bc50337f6c7b.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  background-color: var(--geist-background);
  color: var(--geist-foreground);
  font-size: 1.6rem;
  line-height: 1.5;
  z-index: 0;
}

.welcome_container {
  padding: 40px;
  margin-top: 5rem;
  max-width: 60%;
  z-index: 1;
  font-family: 'Monaco', sans-serif;
}

.welcome_container h1 {
  font-size: 55px;
  margin-bottom: 50px;
}


.welcome_container p {
  z-index: 1;
  margin-top: 15px;
  font-size: 28px;
  line-height: 1.6;
}

.contact_icons {
  display: flex;
  justify-content: left;
  gap: 0;
  margin-top: -65px;
  margin-left: 750px;
  z-index: 1;
}

.FaPhone_icon {
  color: #00bcd4;
}

.FaWhatsapp_icon {
  color: #25D366;
  /* WhatsApp green */
}

.FaLinkedin_icon {
  color: #0073b1;
  /* LinkedIn blue */
}

.FaGithub_icon {
  color: #ededed;
}

.FaEnvelope_icon {
  color: #ff5722;
}


.FaPhone_icon,
.FaWhatsapp_icon,
.FaLinkedin_icon,
.FaGithub_icon,
.FaEnvelope_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.FaLinkedin_icon:hover,
.FaEnvelope_icon:hover,
.FaWhatsapp_icon:hover,
.FaGithub_icon:hover,
.FaPhone_icon:hover {
  transform: scale(1.2);
}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}